*.log
src/main/java/suneido/WhenBuilt.java
src/main/java/suneido/Build.java
target/*
jsuneido.jar
*.dbd
*.dbi
*.dbc
*.go
*.tmp
*.su
*.bak
*.exe
*.bat
*.dll
.DS_Store
/nbproject/*
nb-build.xml
manifest.mf
hunspell/*
outfilec
nightlychecktimes.txt
clindex_suneidoc/*
/logs/
